// Placeholder to allow overriding predefined variables smoothly.

$brand-color:           green !default;
$brand-color-light:     lighten($brand-color, 40%) !default;
$brand-color-dark:      darken($brand-color, 25%) !default;

$text-color:            rgba(0,0,0, 0.87) !default;
$background-color:      #ffffff !default;
$code-background-color: rgba(0,0,0,0.5) !default;

$link-base-color:       rgb(32, 184, 32) !default;
$link-visited-color:    darken($link-base-color, 15%) !default;

$table-text-color:      lighten($text-color, 18%) !default;
$table-zebra-color:     lighten($brand-color, 46%) !default;
$table-header-bg-color: lighten($brand-color, 43%) !default;
$table-header-border:   lighten($brand-color, 36%) !default;
$table-border-color:    $brand-color-light !default;